@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to top, rgb(99, 18, 18), rgb(0, 0, 0));
    color: black;
}